<header>
  <div class="header-container">
    <div class="logo">
      <a href=""><span>CINE</span> VERSE</a> &copy;
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li>
          <a
            routerLink="/cineverse"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Em alta</a
          >
        </li>
        <li>
          <div
            ngbDropdown
            #movieDropdown="ngbDropdown"
            class="d-inline-block"
            container="body"
            [autoClose]="'outside'"
            (mouseenter)="movieDropdown.open()"
            (mouseleave)="movieDropdown.close()"
          >
            <a
              routerLink="/movies"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              id="dropdownMovies"
              ngbDropdownToggle
              >Filmes</a
            >
            <div
              ngbDropdownMenu
              aria-labelledby="dropdownMovies"
              class="genre-dropdown-menu"
              (mouseenter)="movieDropdown.open()"
              (mouseleave)="movieDropdown.close()"
            >
              <button
                *ngFor="let genre of movieGenres"
                ngbDropdownItem
                (click)="navigateToGenre('movie', genre.id, genre.name)"
              >
                {{ genre.name }}
              </button>
            </div>
          </div>
        </li>
        <li>
          <div
            ngbDropdown
            #seriesDropdown="ngbDropdown"
            class="d-inline-block"
            container="body"
            [autoClose]="'outside'"
            (mouseenter)="seriesDropdown.open()"
            (mouseleave)="seriesDropdown.close()"
          >
            <a
              routerLink="/series"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              id="dropdownSeries"
              ngbDropdownToggle
              >Séries/TV</a
            >
            <div
              ngbDropdownMenu
              aria-labelledby="dropdownSeries"
              class="genre-dropdown-menu"
              (mouseenter)="seriesDropdown.open()"
              (mouseleave)="seriesDropdown.close()"
            >
              <button
                *ngFor="let genre of tvGenres"
                ngbDropdownItem
                (click)="navigateToGenre('tv', genre.id, genre.name)"
              >
                {{ genre.name }}
              </button>
            </div>
          </div>
        </li>
        <li>
          <a
            routerLink="/desenhos"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Animação</a
          >
        </li>
        <li>
          <a
            routerLink="/docs"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Documentários</a
          >
        </li>
      </ul>

      <form
        class="search-form"
        (submit)="handleSearch(); $event.preventDefault()"
      >
        <div
          class="search-container"
          (mouseenter)="isHovered = true"
          (mouseleave)="isHovered = false"
          [class.active]="isInputFocused || isHovered || query.length > 0"
        >
          <input
            type="text"
            placeholder="Filmes, Séries, Programas..."
            [(ngModel)]="query"
            name="searchInput"
            (focus)="isInputFocused = true"
            (blur)="isInputFocused = false"
          />
          <button type="submit" class="search-button">
            <img src="icons/lupa.svg" alt="" />
          </button>
        </div>
      </form>
    </nav>
  </div>
</header>
