<header>
  <div class="header-container">
    <div class="logo">
      <a href=""><span>CINE</span> VERSE</a> &copy;
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li>
          <a
            routerLink="/cineverse"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Em alta</a
          >
        </li>
        <li>
          <a
            routerLink="/movies"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Filmes</a
          >
        </li>
        <li>
          <a
            routerLink="/series"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Séries</a
          >
        </li>
        <li>
          <a
            routerLink="/desenhos"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Animação</a
          >
        </li>
        <li>
          <a
            routerLink="/docs"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Documentários</a
          >
        </li>
      </ul>

      <form
        class="search-form"
        (submit)="handleSearch(); $event.preventDefault()"
      >
        <div
          class="search-container"
          (mouseenter)="isHovered = true"
          (mouseleave)="isHovered = false"
          [class.active]="isInputFocused || isHovered || query.length > 0"
        >
          <input
            type="text"
            placeholder="Filmes, Séries, Programas..."
            [(ngModel)]="query"
            name="searchInput"
            (focus)="isInputFocused = true"
            (blur)="isInputFocused = false"
          />
          <button type="submit" class="search-button">
            <img src="icons/lupa.svg" alt="" />
          </button>
        </div>
      </form>
    </nav>
  </div>
</header>
