header {
  width: 100%;
  padding: 1rem;
}

.header-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 900;
  color: #f5c51c;
  cursor: pointer;
}

.logo a span {
  background-color: #f5c51c;
  padding: 2px 8px;
  border-radius: 5px;
  color: #000;
}

.nav {
  gap: 1rem;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav-list li {
  list-style: none;
  margin: 0;
}
.nav-list li a {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s;
}

.nav-list li a:hover {
  color: #f5c51c;
}

.nav-list li a.active {
  color: #f5c51c;
  font-weight: bold;
}

.genre-dropdown-menu {
  background-color: rgba(18, 18, 18, 0.95);
  border: 1px solid #f5c51c;
  border-radius: 8px;
  padding: 0.5rem 0;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 15px rgba(245, 197, 28, 0.2);
  border: none;
  outline: none;
  box-shadow: none;
}

.d-inline-block > a:hover,
.d-inline-block > a.active {
  color: #121212;
  border: none;
  outline: none;
  box-shadow: none;
}

.genre-dropdown-menu::-webkit-scrollbar {
  width: 5px;
}

.genre-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #f5c51c;
  border-radius: 5px;
}

.genre-dropdown-menu::-webkit-scrollbar-track {
  background-color: rgba(18, 18, 18, 0.5);
}

.genre-dropdown-menu button {
  color: #fff;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
  background-color: transparent;
  text-align: center;
  width: 100%;
  border: none;
}

.genre-dropdown-menu button:hover {
  background-color: rgba(245, 197, 28, 0.2);
  color: #f5c51c;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid #f5c51c;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
}

.search-form .search-container {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  position: relative;
}

.search-form .search-container input {
  border: 1px solid #f5c51c;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  color: #fff;
  padding: 3px 12px;
  font-size: 0.9rem;

  /* Inicial */
  width: 0;
  opacity: 0;
  padding: 0;
  transition: width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.search-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;

  color: white;
  transition: color 0.4s;
}
.search-button:hover {
  transform: scale(1.1);
}

.search-form .search-container.active input {
  width: 250px;
  opacity: 1;
  padding: 5px 12px;
}
