<app-header />

<main>
  <section class="carousel-section" *ngIf="isCarouselLoaded">
    <ngbd-carousel-pause [content]="carouselData" />
  </section>

  <section class="movies-lists">
    <div class="list" *ngIf="isUpcomingLoaded">
      <h3>Em breve</h3>
      <app-cards-list
        [list]="upcomingList"
        (cardSelected)="openDetails($event)"
      />
    </div>

    <div class="list" *ngIf="isTrendingLoaded">
      <h3>Em alta</h3>
      <app-cards-list
        [list]="trendingList"
        (cardSelected)="openDetails($event)"
      />
    </div>

    <div class="list" *ngIf="isTopRatedMoviesLoaded">
      <h3>Melhores filmes</h3>
      <app-cards-list
        [list]="topRatedMoviesList"
        (cardSelected)="openDetails($event)"
      />
    </div>

    <div class="list" *ngIf="isTopRatedTvLoaded">
      <h3>Para maratonar</h3>
      <app-cards-list
        [list]="topRatedTvList"
        (cardSelected)="openDetails($event)"
      />
    </div>
  </section>

  <app-movie-details
    *ngIf="selectedMedia"
    [media]="selectedMedia"
    (close)="selectedMedia = null"
  />
</main>

<app-footer />
