.movies-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  margin-bottom: 1rem;
}

.list h3 {
  display: flex;
  font-size: 1.4rem;
  color: #ffffff;
  text-shadow: 1px 1px 10px #000;
  font-weight: 800;
  margin: 0;
}
