<app-header-experiencia></app-header-experiencia>

<main>
  <section>
    <div style="display: flex; align-items: center; justify-content: center">
      <div class="descricao text-light">
        <h1 *ngIf="isCadastro" class="title">Cadastro</h1>
        <h1 *ngIf="!isCadastro" class="title">Login</h1>
        <ul class="list-unstyled">
          <li class="mb-2">
            <i class="bi bi-film" style="color: #f5c51c; margin-right: 8px"></i>
            Páginas completas de <strong>filmes</strong>,
            <strong>séries</strong> e <strong>documentários</strong>
          </li>
          <li class="mb-2">
            <i
              class="bi bi-search"
              style="color: #f5c51c; margin-right: 8px"
            ></i>
            <strong>Pesquisa rápida</strong> por nome de títulos
          </li>
          <li class="mb-2">
            <i
              class="bi bi-funnel-fill"
              style="color: #f5c51c; margin-right: 8px"
            ></i>
            <strong>Filtros personalizados</strong> para refinar sua busca
          </li>
          <li class="mb-2">
            <i
              class="bi bi-star-fill"
              style="color: #f5c51c; margin-right: 8px"
            ></i>
            Criação de <strong>listas de favoritos</strong>
          </li>
          <li class="mb-2">
            <i
              class="bi bi-person-check"
              style="color: #f5c51c; margin-right: 8px"
            ></i>
            Uma experiência <strong>adaptada ao seu perfil</strong>
          </li>
        </ul>
      </div>

      <form
        *ngIf="!isCadastro"
        class="form-login"
        [formGroup]="formLogin"
        (ngSubmit)="onSubmit()"
      >
        <div class="position-relative">
          <label for="exampleInputEmail1" class="form-label">E-mail</label>
          <input
            type="text"
            class="form-control"
            id="InputLogin"
            required="true"
            formControlName="email"
            placeholder="Digite seu email"
          />
          <div class="text-danger small mt-1">{{ getCampoErro("email") }}</div>
        </div>
        <div class="position-relative">
          <label for="exampleInputPassword1" class="form-label">Senha:</label>
          <div style="position: relative; display: flex; align-items: center">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              class="form-control"
              id="InputPassword"
              required="true"
              placeholder="Digite sua senha"
              formControlName="senha"
              style="padding-right: 2.5rem; width: 400px"
            />
            <i
              class="bi bi-eye-slash toggle-password"
              (click)="togglePassword()"
              style="
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                font-size: 1.2rem;
                color: #f5c51c;
              "
            ></i>
          </div>
          <div class="text-danger small mt-1">
            {{ getCampoErro("senha") }}
          </div>
        </div>
        <div
          *ngIf="errorMessage"
          class="text-danger"
          style="width: 300px; text-align: center"
        >
          {{ errorMessage }}
        </div>
        <a
          class="form-text"
          style="cursor: pointer; display: flex; margin-left: auto"
          (click)="goToCadastro()"
          >Cadastre-se</a
        >

        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>

      <form
        *ngIf="isCadastro"
        class="form-login"
        [formGroup]="formLogin"
        (ngSubmit)="onSubmit()"
      >
        <div class="position-relative">
          <label for="exampleInputEmail1" class="form-label"
            >Primeiro, seu nome ou apelido:</label
          >
          <input
            type="text"
            class="form-control"
            required="true"
            formControlName="nome"
            placeholder="Nome"
          />
          <div class="text-danger small mt-1">{{ getCampoErro("nome") }}</div>
        </div>
        <div class="position-relative">
          <label for="exampleInputEmail1" class="form-label"
            >Seu e-mail para receber nossas novidades:</label
          >
          <input
            type="text"
            class="form-control"
            required="true"
            formControlName="email"
            placeholder="E-mail"
          />
          <div class="text-danger small mt-1">{{ getCampoErro("email") }}</div>
        </div>
        <div class="position-relative">
          <label for="exampleInputEmail1" class="form-label"
            >Agora a senha para logar:</label
          >
          <div style="position: relative; display: flex; align-items: center">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              class="form-control"
              id="InputPassword"
              required="true"
              placeholder="Digite sua senha"
              formControlName="senha"
              style="padding-right: 2.5rem; width: 400px"
            />
            <i
              class="bi bi-eye-slash toggle-password"
              (click)="togglePassword()"
              style="
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                font-size: 1.2rem;
                color: #f5c51c;
              "
            ></i>
          </div>
          <div class="text-danger small mt-1">
            {{ getCampoErro("senha") }}
          </div>
        </div>

        <div
          class="d-flex"
          style="
            max-width: 100%;
            gap: 1rem;
            align-items: center;
            margin-bottom: 1rem;
            text-align: center;
          "
        >
          <input type="checkbox" id="lgpdConsent" formControlName="lgpd" />
          <label class="d-block form-text" for="lgpdConsent">
            Concordo com os <a href="#">termos de uso</a> e a
            <a href="#">política de privacidade</a>.
          </label>
        </div>
        <div class="text-danger small mt-1">{{ getCampoErro("lgpd") }}</div>
        <div
          *ngIf="errorMessage"
          class="text-danger"
          style="width: 300px; text-align: center"
        >
          {{ errorMessage }}
        </div>
        <a
          class="cadastrobt"
          style="cursor: pointer; display: flex; margin-left: auto"
          (click)="goToLogin()"
        >
          Login
        </a>
        <button type="submit" class="btn btn-primary">Cadastre-se</button>
      </form>
    </div>
  </section>
</main>

<app-footer> </app-footer>
<app-background> </app-background>
