/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Lato", sans-serif;
}

body {
  color: #f5c51c;
  background-color: #000;
  min-height: 100vh;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}
