<div
  class="card"
  (click)="onClick()"
  [popoverTitle]="title"
  [ngbPopover]="popoverContent"
  [placement]="placement"
  triggers="mouseenter:mouseleave"
  popoverClass="my-custom-class"
>
  <article class="movie-card">
    <img
      src="https://image.tmdb.org/t/p/w154/{{ src }}"
      alt="{{ title }}"
      class="card-img"
    />
  </article>
</div>

<ng-template class="popoverContent" #popoverContent>
  <p class="fw-bold">Avaliação: {{ vote_average }}</p>
  <ngb-rating [(rate)]="vote_average" [readonly]="true" />
</ng-template>
