.lista {
  display: flex;
  max-width: 1400px;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-message {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  color: #f5c51c;
}
